<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    
    <add key="SitePath" value="http://localhost:55545/" />
    <add key="TrackerPath" value="http://localhost:55545//Portel/post/et?" />
    
    <add key="StaticVersion" value="1.1.11" />
    <add key="StaticDebug" value="Y" />

    <add key="RegisterEmailTemplatePath" value="\\192.168.1.115\Uploads\Register.html" />
    <add key="ForgotPwdEmailTemplatePath" value="\\192.168.1.115\Uploads\ForgotPassword.html" />
    <add key="RegisterEmailSubject" value="Welcome to Intellidate" />
    <add key="ForgotPwdEmailSubject" value="Forgot password" />
    
    <add key="ForgotPwdEmailPriority" value="1" />
    <add key="RegisterEmailPriority" value="2" />
    <add key="ReActivateEmailPriority" value="3" />
    <add key="FaceBookEmailPriority" value="4" />
    <add key="LinkedInEmailPriority" value="5" />
    <add key="MatchEmailPriority" value="6" />
    <add key="WelcomeEmailPriority" value="7" />
    <add key="UnsubscribeEmailPriority" value="8" />
    <add key="SecurityCodeEmailPriority" value="9" />
    

    <add key="PhotosRootPath" value="C:\Uploads\" />
    <add key="ReportsRootPath" value="C:\Uploads\Reports\" />
    <add key="PhotosRootUrl" value="http://192.168.1.115:8585/" />
    <add key="PhotoAcceptCount" value="1" />

    <!-- Last Online Range -->
    <add key="LastOnlineRange" value="10" />
    
    <!-- PhotoCropThumbnail -->
    <add key="PCT" value="100" />

    <!-- PhotoCropGalleryThumbail -->
    <add key="PCGT" value="220" />

    <add key="MaFullViewxWidth" value="800" />
    <add key="MaFullViewxHeight" value="450" />

    <add key="DaysToEffectQuestions" value="1" />
    <add key="DaysToEffectCriteria" value="1" />

    <add key="DaysToExpireRematch" value="7" />

    <!-- User total uploaded photos count -->
    <add key="PhotoCount" value="15" />
    <!-- User total uploaded photos count in mb-->
    <add key="PhotoSize" value="15" />
    <add key="owin:AppStartup" value="IntelliWebR1.Startup" />
    <add key="CachingDBConnectionString" value="mongodb://192.168.1.113" />
    <add key="CachingDB" value="IntellidateR1" />
    <add key="ErrorLogs" value="C:\\ErrorLogs\\" />
    <add key="DefaultTitle" value="Free online match making" />
    <add key="PhotosFolder" value="\\192.168.1.113\\Uploads\\" />
    <add key="VirtualDirectory" value="/"></add>

    <!-- User subscription rates -->
    <add key="TopSubscription" value="17"></add>
    <add key="BasicSubscription" value="11"></add>
    <add key="ReMatchPrice" value="2.50"></add>
    <add key="CompatibilityReport" value="1"></add>
    <add key="ReadDelete" value="0.50"></add>
    <add key="FacebookLinkedIn" value="1"></add>
    <add key="OtherPrice" value="0"></add>
    <!--End User subscription rates -->
    
    <!-- BraintreeGateway details-->
    <add key="MerchantId" value="9t27q2xvh6hwxy6q"></add>
    <add key="PublicKey" value="ctktqbfg7438wyfy"></add>
    <add key="PrivateKey" value="67eee8ea5fdb5ec57bd14074fb044492"></add>

   
    
    <add key="SpeedMeterImage" value="C:\IntellidateR1\IntellidateR1\IntelliWebR1\web\images\testmeter1.jpg" />
    <add key="PointerImage" value="C:\IntellidateR1\IntellidateR1\IntelliWebR1\web\images\testpointer.png" />
    
    
    <add key="ProfileCompletionXML" value="C:\IntelliNewVersionOfR1\IntelliWebR1\App_Data\ProfileCompletion.xml"></add>

    <add key="ErrorLogs" value="C:\IntellidateErrors\" />
    
  </appSettings>
  <connectionStrings>
    <remove name="IntellidateV5Entities" />

    <add name="intellidateR1Entities" connectionString="metadata=res://*/DB.IntellidateR1.csdl|res://*/DB.IntellidateR1.ssdl|res://*/DB.IntellidateR1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.113;user id=ramana;password=ramana;persistsecurityinfo=True;database=intellidater1&quot;" providerName="System.Data.EntityClient" />

    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="server=192.168.1.113;user id=ramana;password=ramana;database=in_usermgnt" providerName="MySql.Data.MySqlClient" />


  </connectionStrings>
  
  
    
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/Default" defaultUrl="~/web/Home"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never">

    </pages>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".javascript" />
      <mimeMap fileExtension=".javascript" mimeType="text/javascript" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true"></modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly> 
      
      <dependentAssembly>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
</dependentAssembly>
      
      
    </assemblyBinding>
  </runtime>



</configuration>
