
.popupform{
     background:#C1282D;
     padding:6px;
     border-radius:16px 16px;
     border:2px solid #fff;
     font-family: Tahoma, sans-serif, Arial;
     color: #ffffff;
  
}


.popupHeader {
    height: 26px; 
   
    font-size: 18px;
    
    padding: 4px;
    margin: 0px;
}

.divleft{
    float:left;
}

.divright{
    float:right;
}
.imgclose {
    float:right;
    margin-top:-4px;
}
.submitButton {

background-color: #2E2A29;
border-radius: 6px 6px;
padding: 4px;
border: 0px solid #fff;
height: 30px;
width: 290px;
color: white;
font-size: 20px;
text-align: center;
box-shadow: #ccc initial 2px 2px initial;
cursor: pointer;
margin-top:10px;
margin:6px;
}

.textField {
    margin:6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 290px;
    height: 28px;
    border-radius: 2px 2px;
}

.lblerr{
    margin:6px;
}

.divcenter{
    text-align:center;
}