



.six_profile_info					{ width:100%;}
.sixe_profile_both					{border-bottom:5px solid #ececec; }
.six_profile_info_lt				{ float:left; width:50%; background:#fff; /*min-height:252px; height:450px; border-bottom:5px solid #ececec;*/ min-height:50vh; }
.six_profile_info_lt h1				{ font-weight:600; color:#7c7c7e; line-height:18px; font-size:26px; text-transform:capitalize; display:block; text-align:center; padding:5% 0; }
.six_profile_info_lt h3				{ font-weight:600; color:#7c7c7e; line-height:18px; font-size:22px; text-transform:capitalize; display:block; text-align:center; padding:7px 0; }
.six_profile_info_lt img			{ display:block; margin:0 auto; width:63%; max-height:82%; min-height:100px; min-width:100px; height:auto; }
.six_profile_info_rt				{ float:left; width:49% !important; /*margin:0 0 0 0.5%; height:450px; border-bottom:5px solid #ececec;*/ background:#ffffff; overflow:hidden; border-left:3px solid #ececec; min-height:50vh; }
.overall_scrore						{ width:220px; height:220px; display:block; margin:0 auto; overflow:hidden; position:relative; }
.overall_scrore #my_meter			{ width:100% !important; height:100% !important; }
.six_work							{ /*width:68%;*/ width:295px; height:160px; overflow:hidden; display:block; margin:0 auto; }
.six_teacher_wrkflow				{ width:130px; height:160px; overflow:hidden; float:left; margin:0 8px; text-align:center; }
.overall_scrore .circle-text		{ font-size:34px !important;  }
.six_profile_info_rt h4				{ color:#000; font-size:25px; line-height:20px; font-weight:600; text-align: center; opacity:0.8; }
.six_profile_info_rt h3				{ color:#000; font-size:16px; line-height:20px; font-weight:600; text-align: center; opacity:0.8; margin:0px; }
.overall_scrore h4					{ position:absolute; left:29%; top:40%; }
.six_teacher_wrkflow .circliful		{ height:130px; overflow:hidden; }
.circliful 							{ position: relative; }
.circle-text, .circle-info, .circle-text-half, .circle-info-half { color:#000; font-size:18px; line-height:20px; font-weight:700; width:100%; position: absolute; text-align: center; display: inline-block; overflow:hidden; opacity:0.8; }
.circle-info, .circle-info-half		{ color: #34a403; }
canvas								{ height:100% !important; width:100% !important; }.


		/* Points of Legend page start */
.twenty_five_points							{}
.twenty_five_points .Point_one				{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:8%; left:38%; z-index:1;}
.twenty_five_points .Point_two				{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:5%; left:82%; z-index:2;}
.twenty_five_points .Point_three			{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:38%; left:86.5%; z-index:3;}
.twenty_five_points .Point_four				{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:38%; left:70%; z-index:4;}
.twenty_five_points .Point_five				{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:10%; left:98%; z-index:5;}
.twenty_five_points .Point_six				{font-size:16px; color:#ffffff; font-weight:600; background:#006808; height:28px; width:28px; border:3px solid #ffffff; border-radius:19px; display:inline-block; text-align:center; line-height:26px; position:absolute; top:68%; left:15.5%; z-index:6;}

		/* Points of Legend page end */


@media screen and (max-width: 1024px) {
	.twenty_five_points .Point_one			{ top:6%;}
	.twenty_five_points .Point_two			{ top:4%; left:83%;}
	.twenty_five_points .Point_three		{ top:38%; left:88%;}
	.twenty_five_points .Point_four 		{ top:38%; left:71%;}
	.twenty_five_points .Point_six			{ top:67%; left:18%;}
	}


@media screen and (max-width: 800px) {
		.six_work						{ width:200px; height:140px;}
	.six_teacher_wrkflow			{ margin:0px; width:100px; height:140px;}
	.six_teacher_wrkflow .circliful	{ height:100px; width:100px !important;}
	.circle-text, .circle-info, .circle-text-half, .circle-info-half	{ line-height:100px !important; font-size:16px !important;}
	.six_profile_info_rt h3			{ font-size:14px; margin:0px;}
	.overall_scrore					{ width:210px; height:210px;}
	.overall_scrore .circle-text		{ font-size:30px !important; line-height:220px !important;}
	.overall_scrore h4					{ position:absolute; left:29%; top:35%; }
	.six_profile_info_rt h4				{ font-size:25px;}
	
	
	.twenty_five_points .Point_one			{ top:5%; left:47%; height:20px; width:20px; font-size:15px; line-height:19px;}
	.twenty_five_points .Point_two			{ top:4%; left:86%; height:20px; width:20px; font-size:15px; line-height:19px;}
	.twenty_five_points .Point_three		{ top:36%; left:86%; height:20px; width:20px; font-size:15px; line-height:19px;}
	.twenty_five_points .Point_four 		{ top:36%; left:67.5%; height:20px; width:20px; font-size:15px; line-height:19px;}
	.twenty_five_points .Point_five			{ top:4%; left:98%; height:20px; width:20px; font-size:15px; line-height:19px;}
	.twenty_five_points .Point_six			{ top:63%; left:22%; height:20px; width:20px; font-size:15px; line-height:19px;}
	
}

