
/*	header bar start	*/
@media screen and (max-width: 840px) {
	/*nav ul .space		{ margin:0px;}*/
	}
/*	header bar end	*/

@media screen and (max-width: 1350px) {
	.profile_info_rt	{ /*width:40% !important;*/ margin:0 auto !important;}
	.work				{ /*width:100%; width:295px;*/}
	.six_work				{  width:295px;}
	
	/*-------  01 Page start  --------*/
	.one .tabs_left ul li span		{ width:77%;}
	/*-------  01 Page end  --------*/
	
	/*19 page start*/
	.nineteen .cont_bar ul .info img	{ width:100%;}
	/*19 page end*/
	/*21 page start*/
	.twenty_one .cont_bar ul .info img	{ width:100%;}
	/*21 page end*/
	
	/*24 page start*/
	.person_data .person_text			{ width:86%;}
	/*24 page end*/
	
	}
@media screen and (max-width: 1220px) {
	.mainten_down						{ top:-100px;}
	}

@media screen and (max-width: 995px) {
	.demo			{/*width:100% !important;*/}
	.person_details img	{ margin:0px;}
	article			{ float:none !important; width:100%;}
	/*aside			{ float:none !important; width:100% !important; height:100px; }*/
	
	/*-------  05 Page start  --------*/
	/*.fifth						{ height:1100px;}*/
	.fifth_right ul 			{ display:inline-block; padding:0 0 5px 0;}
	.fifth_right ul li			{ float:none !important; margin:0 auto; width:68% /*!important*/; display:block;}
	.fifth_right .fifth_buttons	{ width:105px;}
	/*-------  05 Page start  --------*/
	
	}

@media screen and (max-width: 750px) {
	.demo			{width:100% !important;}
	.person_details img	{ margin:0px;}
	article			{ float:none !important; width:100%;}
	/*aside			{ float:none !important; width:100% !important; height:100px; }*/
	
	/*-------  05 Page start  --------*/
	.fifth						{ float:none !important; width:100% !important; height:auto; min-height:auto !important;}
	.fifth_matter img			{ width:50%;}
	.fifth_right				{ float:none !important; width:100% !important;}
	.fifth_right h3				{ font-size:25px !important;}
	.fifth_right p				{ font-size:15px !important; margin:0px auto 6% !important;}
	.fifth_right ul				{ display:inline-block !important;}
	.fifth_right ul li			{ float:left !important; margin:0 auto; width:25% !important; display:inline-block; min-width:140px;}
	.fifth_right .fifth_buttons	{ width:230px !important; padding:0% 0px 2%;}
	/*-------  05 Page start  --------*/
	
	}	





@media screen and (max-width: 633px) {
    /*.logo a img				{ width:100%;}
	.logo			{ width:250px; margin:0 auto; float:none;}
	nav				{ width:250px; margin:0 auto; float:none;}
	nav ul .pic		{ margin:0px 46% 0 !important;}*/
	
	article			{ float:none; display:inline-block; width:100%;}
	/*aside			{ float:none; width:99%; min-height:100px;}*/
	
	.comment		{ float:none;}
	.check			{ float:none;}
	
	
	/*.demo			{width:633px !important;}*/
	.person_details		{ width:633px !important;}
	.person_details img	{ margin:0px;}
	article			{ float:none !important; }
	.work			{ width:80%;}
	/*aside			{ float:none !important; width:100% !important; min-height:100px; }*/
	
	
	/*-------  17.1 Page start  --------*/
	
	.seventeen_one	{ float:none !important; width:100%;}
	
	
	/*-------  17.1 Page start  --------*/
	
	/*-------  01 Page start  --------*/
	
	.one .tabs_left		{ float:none !important; margin-bottom:10%; width:100%;}
	.one_top .back		{ left:-5%; top:7px;}
	.one_top .back img	{ width:50% !important;}
	.one .two_dates		{ float:none !important; width:90%; margin:0 0% 10% 0;}
	.one .two_days		{ float:none !important; width:90%; }
	.one .two_days h5			{ margin:0 0 20px 0;}
	
	/*-------  01 Page start  --------*/

	/*-------  05 Page start  --------*/
	
	.fifth_matter img	{ width:40%;}
	
	/*-------  05 Page start  --------*/
	
}



@media screen and (max-width: 470px) {
	
	.one					{ float:none !important; width:100%;}
	.one .tabs_left ul li span	{ width:85%;}
	
	/*-------  07 Page start  --------*/
	.seven					{ float:none; width:100% !important; display:inline-block;}
	/*.seven_cont .seven_button	{ margin:0px 20% 0px 0px;}
	
	-------  07 Page end  --------*/
	.eleven			{ width:100% !important;}
	}




/*@media screen and (max-width: 200px) {
	.logo			{ width:200px !important; margin:0 auto; }
	.logo a img		{ width:100%;}
	.comment		{ float:none;}
	.check			{ float:none;}
	}*/



@media screen and (max-width: 1024px) {
	.middle_content		{ width:96%;}
	.article					{ float:none; width:100%; }
	/*01 page start*/
	.one			{ width:79%;}
	.one_top .back	{ left:2%;}
	.one_top .back img { width:80% !important;}
	.one_top img		{ width:99%;}
	.one_top p			{ width:75%;}
	.one .two_dates		{ margin:0px 7% 0% 0px;}
	.one .two_days input{ width:75px;}
	.fourth				{ width:100%;}
	/*01 page end*/
	
	/*05 page start*/
	.fifth						{ width:79%; padding:2% 0px 1%; /*min-height:660px;*/}
	.fifth_right				{ width:21%;}
	.fifth_right h3				{ font-size:17px; padding:25px 0px 10px; letter-spacing:-1.5px;}
	.fifth_right p				{ font-size:11px; width:90%; margin:0px auto 17%;}
	.fifth_right ul				{ display:block;}
	.fifth_right ul li			{ width:100%; float:none; display:block; margin:-35px auto 0px !important;}
	.fifth_right .fifth_buttons	{ width:105px; padding:2% 0px 10%;}
	/*05 page end*/
	
	/*(06) to 07 page start*/
	.main_lt						{ width:78%; min-height:100vh;}
	.six_profile_info_lt			{ /*padding:0 0 2.2% 0;*/}
	.six_profile_info_rt			{ width:49.2%;}
	.six_work							{ width:260px;}
	.six_teacher_wrkflow				{ margin:0px;}
	
	.sidebar_course					{ display:none;}
	.sidebar_course10				{ display:block;}
	.sidebar_course10				{ width:20%; padding:0 1%; min-height:100vh;}
	.sidebar_course10 h5			{ font-size:20px; padding:10% 0px 5%; line-height:20px;}
	.sidebar_course10 h5 span		{ font-size:25px;}
	.sidebar_course10 ul			{ padding:0px 0px 10% 6%;}
	.sidebar_course10 ul li			{ margin:0px;}
	.sidebar_course10 ul li p		{ width:48%; font-size:13px;}
	.teachers_list					{ display:none;}
	/*(06) to 07 page end*/
	
	/*(07) to 08 page start*/
	.seven						{ width:79%; min-height:660px;}
	.seven_cont input			{ margin:2% 2.5%;}
	.seven_cont .question		{ width:72%;}
	.seven_cont .question textarea { width:100%; padding:6px 0px;}
	/*(07) to 08 page end*/
	
	/*(08) to 09 page start*/
	.eight						{ width:79%; min-height:120vh;}
	.eight_cont .eight_col		{ width:18.7%;}
	.fifth_right				{ width:21%; min-height:120vh;}
	/*(08) to 09 page end*/
	
	/*(09) to 10 page start*/
	.ninth_head ul .subject		{ width:18%;}
	.ninth_head ul .question	{ width:19%;}
	.ninth_info ul .subject		{ width:18%;}
	.ninth_info ul .question	{ width:19%;}
	/*(09) to 10 page end*/
	
	/*(10) to 12 page start*/
	.tenth_head ul li			{ margin:0px 0.8% 0px 0px;}
	.tenth_info ul li			{ margin:0px 0.8% 0px 0px;}
	.tenth_head ul .calendar	{ padding:0px 0.5%;}
	.tenth_info ul .calendar	{ padding:0px 0.5%;}
	/*(10) to 12 page end*/
	
	/*(11) to 15 page start*/
	.eleven						{ width:79%;}
	.four .tabs_matter			{ width:75%;}
	.eleven_middle				{ width:83%;}
	.four .tabs_matter			{ width:94%;}
	/*(11) to 15 page end*/
	
	/*(13) to 18 page start*/
	.thirteen					{ width:79%;}
	.thirteen_cont				{ width:75%;}
	/*(13) to 18 page end*/
	
	/*(14) to 20 page start*/
	.fourteen					{ width:79%;}
	.fourteen_cont .fourteen_col{ width:23.8%;}
	/*(14) to 20 page end*/
	
	/*(15) to 21 page start*/
	.fifteen					{ width:100%;}
	.person_details				{ width:605px;}
	/*(15) to 21 page end*/
	
	/*15-b page start*/
	/*15-b page end*/
	
	/*(16) to 22 page start*/
	.sixteen					{ min-width:780px;}
	.sixteen_cont				{ width:765px;}
	.talking					{ width:377px;}
	.sixteen_cont .sixteen_chat .sixteen_text	{ min-height:10vh;}
	/*(16) to 22 page end*/
	
	/*(17) to 26, 20 page start*/
	.article17					{ float:none; width:100%; min-width:100%;}
	.twenty .head_bar ul .perit	{ margin:0px 10% 0px 5%;}
	.twenty .cont_bar ul .perit	{ margin:0px 10% 0px 5%;}
	/*(17) to 26, 20 page end*/
	
	/*(17.2) to 31 page start*/
	.seventeen_two_chat p		{ margin:0px 3% 12px 0px;}
	/*(17.2) to 31 page end*/
	
	/*(18) to 28 page start*/
	.article18					{ float:none; width:100%; min-width:100%; padding-bottom:15%;}
	.cont_bar ul .time			{ width:8%; margin:0 0 0 2%;}
	.eighteen .cont_bar ul .info img	{ width:100%;}
	/*(18) to 28 page end*/
	
	/*(19) to 29 page start*/
	.nineteen .cont_bar ul .info img	{ width:100%;}
	/*(19) to 29 page end*/
	
	/*(21) to 32 page start*/
	.twenty_one .cont_bar ul .info img	{ width:100%;}
	.twenty_one .head_bar ul .perit		{ width:16%; margin:0px 0.5%;}
	.twenty_one .head_bar ul .time		{ margin:0 1% 0 0;}
	.twenty_one .cont_bar ul .perit		{ width:16%; margin:0px 0.5%;}
	.twenty_one .cont_bar ul .time		{ margin:0 1% 0 0;}
	/*(21) to 32 page end*/.
	
	/*(22) to 36 page start*/
	.twenty_two							{ width:79%;}
	.twenty_two .row1_left				{ width:74%;}
	/*(22) to 36 page end*/
	
	/*(23) to 34 page start*/
	.twenty_three						{ width:79%;}
	.twenty_three_table_row ul .data	{ width:77%;}
	/*(23) to 34 page end*/
	
	/*(24) to 33 page start*/
	.person_data .person_text			{ width:80%;}
	/*(24) to 33 page end*/
	
	/*(26) to 25 page start*/
	.twenty_six_current h2				{ font-size:21px;}
	.twenty_six_current .row1			{ padding:12px;}
	.twenty_six_current .row1 li		{ width:13.4%;}
	.twenty_six_current .row1 li small	{ font-size:15px;}
	.twenty_six_current .row1 li .to_pic{ margin:16px 0px 0px;}
	.twenty_six_current .row1 li .today_pic{ width:75%; background-size:100% 100%; font-size:95%;}
	.twenty_six_you .row1				{ padding:12px;}
	.twenty_six_you .row1 li			{ width:13.4%;}
	.twenty_six_you .row1 li small		{ font-size:15px;}
	.twenty_six_past					{ padding:10px;}
	.twenty_six_past .row1				{ margin:0px;}
	.twenty_six_past .row1 li 			{ width:9.8%;}
	.twenty_six_past .row1 li small		{ font-size:10px;}
	.twenty_six_past .row1 li b			{ font-size:10px; margin:0 0 25% 0;}
	.twenty_six_past .row1 li a			{ font-size:11px;}
	/*(26) to 25 page end*/
	
	/*about page start*/
	.about								{ width:79%;}
	/*about page end*/
	
	/*faq page start*/
	.faq								{ width:79%;}
	/*faq page end*/
	
	/*Email varification page start*/
	.email								{ width:69%;}
	.email h1							{ font-size:33px;}
	.email h3							{ font-size:24px; letter-spacing:0px;}
	.email p							{ font-size:13px;}
	/*Email varification page end*/
	
	/*Error page start*/
	.error								{ width:69%;}
	.error h1							{ font-size:40px; line-height:38px;}
	/*Error page end*/
	
	/*Feedback page start*/
	.feedback							{ width:69%; padding:4% 0px 4% 10%;}
	.feedback h1						{ font-size:23px; margin:0px 0px 4%;}
	.feed_cont							{ width:85%;}
	/*Error page end*/
	
	/*Forgot Password page start*/
	.forgot_pass						{ width:79%;}
	.forgot_pass_cont					{ width:85%; margin:5% auto;}
	/*Forgot Password page end*/
	
	/*Login page start*/
	.login								{ width:79%;}
	/*Login page end*/
	
	/*Maintenance page start*/
	.maintenance						{ width:79%;}
	.mainten_cont h3					{ line-height:28px;}
	.mainten_pera						{ height:160px;}
	.mainten_down						{ top:-50px;}
	/*Maintenance page end*/
	
	/*Why_Intellidate page start*/
	.why_intellidate					{ width:79%;}
	/*Why_Intellidate page end*/
	
	/*Subscription Plans page start*/
	.subscript							{ width:79%;}
	.subscript_info ul .subscript_logo img	{ width:100%;}
	/*Subscription Plans page end*/
	
	}






@media screen and (max-width: 800px) {
	.logo a img					{ width:80%;}
	.middle_content				{ width:96%;}
	
	/*01,02,03 page start*/
	
	.one						{ width:87%; padding-top:1.5%;}
	.one .tabs_matter			{ width:90%;}
	.one_buttons				{ margin:0px 2% 0px 0px;}
	.one_top p					{ width:94%;}
	/*01,02,03 page end*/
	
	/*04 page start*/
	.fourth_top p				{ font-size:12px;}
	.fourth_top .average big	{ font-size:13px;}
	.fourth_top .average small	{ font-size:14px; padding:1px 10px 2px;}
	.fourth_matter ul .boxes	{ width:125px; height:23px; padding:6px;}
	.fourth_matter ul .boxes p	{ font-size:11px; width:93px; line-height:12px;}
	.fourth_matter ul .boxes span{ font-size:12px; width:25px; height:18px; line-height:19px;}
	.fourth_matter .buttons .submit	{ font-size:14px;}
	
	/*04 page end*/
	
	/*05 page start*/
	.fifth						{ width:73%; padding:4% 0px 1%; /*min-height:670px;*/ height:auto !important;}
	.fifth_right				{ width:27%;}
	/*05 page end*/
	
	/*(06) to 07 page start*/
	.main_lt						{ width:72%; min-height:100vh;}
	.six_profile_info_lt			{ /*padding:0 0 2.2% 0;*/}
	.six_profile_info_lt img		{ width:100%;}
	.six_profile_info_rt			{ width:49% !important;}
	.six_profile_info_lt h1			{ font-size:22px;}
	.six_work						{ width:235px; height:140px;}
	.six_teacher_wrkflow			{ margin:0px; width:100px; height:140px;}
	.six_teacher_wrkflow .circliful	{ height:100px;}
	/*.overall_scrore					{ width:220px; height:220px;}
	.overall_scrore .circle-text	{ font-size:33px !important;}*/
	.circle-text, .circle-info, .circle-text-half, .circle-info-half	{ line-height:100px; font-size:16px;}
	.six_profile_info_rt h3			{ font-size:14px; margin:0px;}
	
	
	
	
	.sidebar_course					{ display:none;}
	.sidebar_course10				{ display:block;}
	.sidebar_course10				{ width:26%; padding:0 1%; min-height:100vh;}
	.sidebar_course10 h5			{ font-size:20px; padding:10% 0px 5%; line-height:20px;}
	.sidebar_course10 h5 span		{ font-size:25px;}
	.sidebar_course10 ul			{ padding:0px 0px 10% 6%;}
	.sidebar_course10 ul li			{ margin:0px;}
	.sidebar_course10 ul li p		{ width:48%; font-size:13px;}
	/*(06) to 07 page end*/
	
	/*(07) to 08 page start*/
	.seven						{ width:74%; min-height:660px;}
	.seven_cont					{ margin:10px 0 0 0;}
	.seven_cont input			{ margin:2% 5% 2% 1.5%;}
	.seven_cont .question		{ width:85%;}
	.seven_cont .question p		{ line-height:16px;}
	.seven_cont .question textarea { width:100%; padding:6px 0px;}
	/*(07) to 08 page end*/
	
	/*(08) to 09 page start*/
	.eight						{ width:78%; min-height:700px;}
	.eight_cont .eight_col		{ width:18.3%;}
	.fifth_right				{ width:22%;}
	/*(08) to 09 page end*/
	
	/*(09) to 10 page start*/
	.person						{ margin:12px 0 5px 0;}
	.tab_nav					{ margin:0px;}
	.tab_nav ul li a			{ font-size:13px; padding:2px 10px 3px;}
	.tab_nav ul li .magnal		{padding:2px 10px 3px; /*height:auto; width:auto; line-height:20px;*/}
	.ninth_top_nav				{ width:100%;}
	.ninth_head ul li			{ margin:0px 1.5% 0px 0px;}
	.ninth_field span			{font-size:14px;}
	.ninth_field input			{ font-size:14px; height:20px; width:40px;}
	.ninth_field a				{ font-size:14px; font-weight:400; width:80px; height:30px; line-height:28px; top:-2px;}
	.ninth_cont					{ margin-left:0px;}
	.ninth_head ul .subject		{ width:15%;}
	.ninth_head ul .question	{ width:16%;}
	.ninth_info ul li			{ margin:0px 1.5% 0px 0px;}
	.ninth_info ul .subject		{ width:15%;}
	.ninth_info ul .question	{ width:16%;}
	/*(09) to 10 page end*/
	
	/*(10) to 12 page start*/
	.four .nav li				{ height:12px; line-height:8px; padding:0px 0px 0px 8px;}
	.four .nav li a				{ font-size:13px;}
	.tenth_cont					{ margin:0px 0px 13px 0px;}
	.tenth_drop					{ margin:0px; }
	.tenth_matter				{ margin:0px 0px 30px;}
	.tenth_head					{ font-size:12px;}
	.tenth_head ul li			{ margin:0px 0.8% 0px 0px;}
	.tenth_head ul .note		{ padding:0px 0.4%;}
	.tenth_head ul .calendar	{ padding:0px 0.5%;}
	.tenth_info					{ padding:3px 9px 9px; font-size:11px; letter-spacing:-0.4px;}
	.tenth_info ul li			{ margin:0px 0.8% 0px 0px;}
	.tenth_info ul .note		{ padding:0px 0.4%;}
	.tenth_info ul .calendar	{ padding:0px 0.5%;}
	.tenth_drop select			{ padding:3px 5px 3px; width:200px;}
	/*(10) to 12 page end*/
	
	/*(11) to 15 page start*/
	.eleven						{ width:87%;}
	.four .tabs_matter			{ width:75%;}
	.eleven_middle				{ width:95%;}
	.four .tabs_matter			{ width:94%;}
	/*(11) to 15 page end*/
	
	/*(13) to 18 page start*/
	.thirteen					{ width:75%; padding:0px;}
	.thirteen_cont				{ width:92%;}
	.tab .tab-legend2 > li		{ padding:6px 1px 0px !important;}
	.tab .tab-legend2 > li img	{ width:80%;}
	/*(13) to 18 page end*/
	
	/*(14) to 20 page start*/
	.fourteen					{ width:73%; padding:0px;}
	.fourteen_cont .fourteen_col{ width:23.5%;}
	/*(14) to 20 page end*/
	
	/*(15) to 21 page start*/
	.fifteen					{ width:100%; /*min-width:750px;*/}
	.person_details				{ width:605px; /*width:82%;*/}
	.tab-horiz					{ padding-right:0px;}
	.ofv_exam					{ margin-right:0px;}
	.ofv_head ul li				{ font-size:13px;}
	.ofv_content ul li			{ font-size:12px;}
	.ofv_head ul .question		{ width:18%;}
	.ofv_head ul .correct		{ width:30%;}
	.ofv_head ul .incorrect		{ width:30%;}
	.ofv_content ul .correct	{ width:27%;}
	.ofv_content ul .incorrect	{ width:30%;}
	/*(15) to 21 page end*/
	
	/*(15-b) to 24 page start*/
	.fifteen-b .person_details	{ width:61%;}
	/*(15-b) to 24 page end*/
	
	/*(16) to 22 page start*/
	
	.sixteen					{ width:100%; min-width:auto;}
	.sixteen_cont				{ width:98%;}
	.talking					{ width:358px;}
	.sixteen_cont .sixteen_chat .sixteen_text	{ min-height:10vh; width:82%;}
	/*(16) to 22 page end*/
	
	/*(17) to 26, 20 page start*/
	.twenty .tabs_info			{ margin:0px;}
	.twenty .head_bar ul li		{ font-size:13px;}
	.twenty .head_bar ul .info	{ width:30%; margin:0px 1% 0px 0px;}
	.twenty .head_bar ul .perit	{ width:45%; margin:0px 2% 0px 0px;}
	.twenty .head_bar ul .time	{ width:10%; margin:0px 1% 0px 0px;}
	.twenty .cont_bar ul li		{ font-size:12px;}
	.twenty .cont_bar ul .check	{ margin:4% 1% 4% 1%;}
	.twenty .cont_bar ul .info	{ width:30%; margin:0px 1% 0px 0px;}
	.twenty .cont_bar ul .info img{ width:100%;}
	.twenty .cont_bar ul .perit	{ width:45%; margin:0px 2% 0px 0px;}
	.twenty .cont_bar ul .time	{ width:10%; margin:0px 1% 0px 0px;}
	.twenty .cont_bar ul .bin	{ width:3%;}
	
	.twenty .cont_bar ul .info .student{ width:204px; height:auto;}
	.twenty .cont_bar ul .info .student .photo	{ width:52px; margin:0px 5px 0px 0px;}
	.twenty .cont_bar ul .info .student .photo img{ width:100%;}
	.twenty .cont_bar ul .info .student .text	{ width:145px;}
	.twenty .cont_bar ul .info .student .text ul .point	{ width:50px; font-size:10px;}
	.twenty .cont_bar ul .info .student .text ul .percent{ width:35px; font-size:10px;}
	.twenty .cont_bar ul .info .student .text ul .line_bar	{ width:58px; margin:0px 2px 0px 0px;}
	.twenty .cont_bar ul .info .student .text ul .line_bar span{ width:21px;}
	.twenty .cont_bar ul .info .student .text ul .line_bar small{ width:31px;}
	
	/*(17) to 26, 20 page end*/
	
	/*(17.2) to 31 page start*/
	.seventeen_two_chat p		{ margin:0px 3% 12px 0px; width:50%;}
	/*(17.2) to 31 page end*/
	
	/*(18) to 28 page start*/
	.article18					{ float:none; width:100%; min-width:100%; padding-bottom:25%;}
	.cont_bar ul .time			{ width:8%; margin:0 0 0 2%;}
	.eighteen .tabs_info		{ margin:0px;}
	.eighteen .head_bar ul .check{ width:3%;}
	.eighteen .head_bar ul li	{ font-size:12px;}
	.eighteen .cont_bar ul li	{ font-size:11px;}
	.eighteen .cont_bar ul .check{ width:3%;}
	.eighteen .cont_bar ul .info img	{ width:100%;}
	/*(18) to 28 page end*/
	
	/*(19) to 29 page start*/
	.nineteen .cont_bar ul .info img	{ width:100%;}
	.nineteen .cont_bar ul li			{ font-size:11px;}
	.nineteen .tabs_info				{ margin:0px;}
	/*(19) to 29 page end*/
	
	/*(21) to 32 page start*/
	.twenty_one .tabs_info				{ padding:0px;}
	.twenty_one .head_bar ul li			{ font-size:12px;}
	.twenty_one .head_bar ul .info		{ width:27%;}
	.twenty_one .head_bar ul .nal		{ width:12%;}
	.twenty_one .head_bar ul .perit		{ width:14%;}
	.twenty_one .head_bar ul .time		{ width:7%;}
	.twenty_one .cont_bar ul li			{ font-size:12px;}
	.twenty_one .cont_bar ul .info		{ width:27%;}
	.twenty_one .cont_bar ul .perit		{ width:14%;}
	.twenty_one .cont_bar ul .check_pic	{ display:none;}
	.twenty_one .cont_bar ul .check		{ margin:30px 10px 0 0;}
	.twenty_one .cont_bar ul .nal		{ width:12%;}
	.twenty_one .cont_bar ul .time		{ width:7%;}
	/*(21) to 32 page end*/
	
	/*(22) to 36 page start*/
	.twenty_two							{ width:76%;}
	.twenty_two .row1_left				{ width:100%;}
	.twenty_two .row3_left				{ width:63%;}
	.twenty_two .row3_left ul li		{ width:30%;}
	.twenty_two .row3_right				{ margin:27% 0px 0px 1%;}
	/*(22) to 36 page end*/
	
	/*(23) to 34 page start*/
	.twenty_three						{ width:79%;}
	.twenty_three_table_row ul .data	{ width:70%;}
	.twenty_three_table_row ul .date	{ width:15%;}
	/*(23) to 34 page end*/
	
	/*(26) to 25 page start*/
	.twenty_six_current .row1			{ border:2px solid #D8D8D8; padding:10px;}
	.twenty_six_current .row1 li		{ width:13.3%;}
	.twenty_six_current .row1 li .to_pic{ margin:11px 0px 0px;}
	.twenty_six_current h2				{ font-size:18px;}
	.twenty_six_current .row1 li small	{ font-size:11px; margin:8px 0px 5px;}
	.twenty_six_you .row1 li			{ width:13.3%;}
	.twenty_six_you .row1 li small		{ font-size:11px;}
	.twenty_six_you .row1				{ border:2px solid #D8D8D8; padding:10px;}
	/*(26) to 25 page end*/
	
	/*about page start*/
	.about								{ width:71%; padding:3% 1%;}
	.about h1							{ font-size:40px; line-height:38px;}
	.about h3							{ font-size:18px; line-height:21px;}
	.about .about_right h4				{ font-size:18px; line-height:24px; margin:-1% 0px 11%;}
	.about .about_right h5				{ font-size:16px; line-height:26px;}
	
	/*about page end*/
	
	/*FAQ page start*/
	.faq								{ width:75%;}
	/*FAQ page end*/
	
	/*Email varification page start*/
	.email								{ width:66%; padding:3% 4%;}
	.email h1							{ font-size:26px;}
	.email h3							{ font-size:18px; margin:0% 0px 3% 0%;}
	.email p							{ font-size:13px; width:90%; padding:2% 3%;}
	.email h5							{ margin:1% 0px 0px 1%; text-align:center;}
	/*Email varification page end*/
	
	/*Error page start*/
	.error								{ width:64%;}
	.error h1							{ font-size:40px; line-height:38px;}
	/*Error page end*/
	
	/*Feedback page start*/
	.feedback							{ width:72%; padding:4% 0px 4% 2%;}
	.feedback h1						{ font-size:19px; margin:0px 0px 3%;}
	.feed_cont							{ width:98%;}
	.feedback textarea					{ margin:2% 0px 4%;}
	/*Error page end*/
	
	/*Disable-one page start*/
	.disable_one						{ width:90%; min-width:inherit;}
	.disable_logo						{ width:100%;}
	/*Disable-one page end*/
	
	/*Disable-one page start*/
	.disable_two						{ width:90%; min-width:inherit;}
	/*Disable-one page end*/
	
	/*Forgot Password page start*/
	.forgot_pass						{ width:87%;}
	.forgot_pass_cont					{ width:93%; margin:5% auto;}
	.forgot_pass_cont h1				{ font-size:37px;}
	.forgot_pass_cont h5				{ font-size:20px; margin:3% 0px 0px 2%;}
	.forgot_pass_cont p					{ font-size:13px; margin:2% 0px 6%;}
	.fongot_pass_enter					{ width:86%; padding:5%;}
	/*Forgot Password page end*/

	/*Login page start*/
	.login								{ width:87%;}
	/*Login page end*/
	
	/*Maintenance page start*/
	.maintenance						{ width:87%;}
	.mainten_cont h1					{font-size:45px;}
	.mainten_cont h3					{ font-size:23px; line-height:28px;}
	.mainten_pera						{ height:auto;}
	.mainten_down						{ top:0px; display:block; font-size:16px; width:51%; line-height:20px; min-width:inherit;}
	/*Maintenance page end*/
	
	/*Why_Intellidate page start*/
	.why_intellidate					{ width:79%;}
	/*Why_Intellidate page end*/
	
	/*Unsubscribe page start*/
	.disable_logo p						{ left:auto;}
	/*Unsubscribe page end*/
	
	/*Subscription Plans page start*/
	.subscript							{ width:79%;}
	.subscript_info ul .subscript_logo img	{ width:100%;}
	.subscript_head						{ font-size:15px;}
	.subscript_info ul .subscript_title h4{ font-size:16px; line-height:17px;}
	.subscript_info ul .subscript_basic	{ font-size:15px;}
	.subscript_info ul .subscript_premium{ font-size:15px;}
	/*Subscription Plans page end*/
	
	
	}





@media screen and (max-width: 320px) {
	
	}




















