


.six_profile_info					{ width:100%;}
.sixe_profile_both					{border-bottom:5px solid #ececec; min-height:600px; }
.six_profile_info_lt				{ float:left; width:50%; background:#fff; min-height:252px; /*height:450px; border-bottom:5px solid #ececec;*/ min-height:100vh; }
.six_profile_info_lt h1				{ font-weight:600; color:#7c7c7e; line-height:18px; font-size:26px; text-transform:capitalize; display:block; text-align:center; padding:5% 0; }
.six_profile_info_lt h3				{ font-weight:600; color:#7c7c7e; line-height:18px; font-size:22px; text-transform:capitalize; display:block; text-align:center; padding:10px 0; }
.six_profile_info_lt img			{ display:block; margin:0 auto; width:77%; max-height:82%; min-height:100px; min-width:100px; height:auto; }
.six_profile_info_rt				{ float:left; width:49% !important; /*margin:0 0 0 0.5%; height:450px;border-bottom:5px solid #ececec;*/ background:#ffffff; overflow:hidden; border-left:3px solid #ffffff;  min-height:100vh; }
.overall_scrore						{ width:260px; height:259px; display:block; margin:4% auto 0; overflow:hidden; position:relative; }
.overall_scrore #my_meter			{ width:100% !important; height:100% !important; }
.six_work							{ /*width:68%;*/ width:295px; height:160px; overflow:hidden; display:block; margin:0 auto; }
.six_teacher_wrkflow				{ width:130px; height:160px; overflow:hidden; float:left; margin:0 8px; text-align:center; }
.overall_scrore .circle-text		{ font-size:46px !important;  }
.six_profile_info_rt h4				{ color:#000; font-size:25px; line-height:20px; font-weight:600; text-align: center; opacity:0.8; }
.six_profile_info_rt h3				{ color:#000; font-size:16px; line-height:20px; font-weight:600; text-align: center; opacity:0.8; margin:8% 0 0 0;}
.overall_scrore h4					{ position:absolute; left:32%; top:33%; }
.six_teacher_wrkflow .circliful		{ height:130px; overflow:hidden; }
.circliful 										{ position: relative; }
.circle-text, .circle-info, .circle-text-half, .circle-info-half { color:#000; font-size:18px; line-height:20px; font-weight:700; width:100%; position: absolute; text-align: center; display: inline-block; overflow:hidden; opacity:0.8; }
.circle-info, .circle-info-half		{ color: #34a403; }
canvas								{ height:100% !important; width:100% !important; }

@media screen and (max-width: 800px) {
		.six_work						{ width:200px; height:140px;}
	.six_teacher_wrkflow			{ margin:0px; width:100px; height:140px;}
	.six_teacher_wrkflow .circliful	{ height:100px; width:100px !important;}
	.circle-text, .circle-info, .circle-text-half, .circle-info-half	{ line-height:100px ; font-size:16px !important;}
	.six_profile_info_rt h3			{ font-size:14px; margin:0px;}
	.overall_scrore					{ width:230px; height:230px;}
	.overall_scrore .circle-text		{ font-size:40px !important;  }
}

