
/*---------------criteria questions page-----------*/
body{
    font-family: 'Open Sans', sans-serif;
}
.one						{float:left; background:#ffffff; width:740px; padding:0 0 1% 0; min-height:580px;}

.one_top					{ position:relative;}
.one_top img				{ width:80%; margin:0 auto 5px; display:block;}
.one_top p					{font-size:14px; color:#0f0f0f; font-weight:400; width:70%; margin:0px auto;}

.one_top .back				{ position:absolute; z-index:10; top:0px; left:5%;}
.one_top .back img				{ width:70%; margin:14px 0 0 0;}

.one_top .one_numbering		{ width:121px; margin:0 auto; padding:1.5% 0; display:block;}
.one_top .one_numbering p	{font-size:15px; color:#ffffff; font-weight:600; text-align:center; height:36px; width:36px; border:3px solid #ffb6b6; background:#c1272d; text-decoration:none; line-height:35px; border-radius:20px; display:inline-block; float:left;}
.one_top .one_numbering span{font-size:15px; color:#2d2929; font-weight:400; text-align:center; margin:0 10px; float:left; margin:10px 10px 0;}

.one_matter				{}
.one .tabs_matter		{ width:70%; border-radius:5px; border:1px solid #ccc; padding:1% 3% 1%; margin:1% auto 0;}
.one .tabs_matter h2		{font-size:16px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.one .tabs_matter h3		{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 10px 0;}

.one .tabs_left				{ float:left; margin:0 10% 0 0; width:40%;}
.one .tabs_left h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 10px 0;}
.one .tabs_left ul			{}
.one .tabs_left ul li		{ list-style:none;font-size:12px; color:#2d2929; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0 0 8px 0;}
.one .tabs_left ul li input	{ margin:1px 14px 0 0; float:left; }
.one .tabs_left ul li span	{ display:inline-block; width:85%;}
.one .tabs_left .marg_no	{ margin:0% !important;}

.one .numbers				{ margin:6px 0 10px 0;}
.one .numbers ul			{}
.one .numbers ul li		{ float:left; display:inline;}
.one .numbers ul li a		{ display:inline-block;font-size:12px; color:#0f0f0f; font-weight:400; font-family: 'Open Sans', sans-serif; background:#e5e5e5; width:50px; height:38px; margin:1px 1px 0 0; line-height:35px; text-align:center; text-decoration:none;}
.one .numbers ul li a:hover	{background:#c1272d; color:#ffffff;}

.one_buttons					{ float:right; margin:10px 12% 0 0; width:190px;}
.one_buttons .skip				{ float:left; font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#000000; /*padding:6px 25px;*/ border-radius:5px; text-decoration:none; display:block; margin:0px 0 0 0; width:90px; height:40px; line-height:38px; text-align:center;}
.one_buttons .submit			{  float:right; font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#c1272d; /*padding:6px 25px;*/ border-radius:5px; text-decoration:none; display:block; width:90px; height:40px; line-height:38px; text-align:center;}

.one .two_dates				{ float:left; margin:0 10% 0% 0; }
.one .two_dates h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 10px 0;}
.one .two_dates ul			{ }
.one .two_dates ul li		{ float:left; list-style:none;}
.one .two_dates ul li select{ background:#cfcfcf; border:0px none; padding:4px 10px; margin:0px 4px 4px 0px; width:80px; border-radius:3px}
.one .two_dates input	{ color:#A1A1A1;font-size:18px;font-weight:400; border:1px solid #7d7d7d; width:90px; padding:1px 0 1px 5px; border-radius:3px;}
.one .two_dates input:after		{ color:#000000;}




.one .two_days				{ float:left; margin:0 0% 20% 0; width:40%;}
.one .two_days h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 10px 0;}
.one .two_days ul			{ }
.one .two_days ul li		{ float:left; list-style:none;}
.one .two_days ul li select{ background:#cfcfcf; border:0px none; padding:4px 8px; margin:0px 4px 4px 0px; width:80px; border-radius:3px;}
.one .two_days .two_field	{ width:240px;}
.one .two_days input		{ color:#A1A1A1;font-size:18px;font-weight:400; border:1px solid #7d7d7d; width:68px; padding:1px 0 1px 5px; border-radius:3px; margin-bottom:5px;}
.one .two_days .to			{ color:#6b6969;font-size:16px;font-weight:400;  padding:1px 12px;}


/*---------------Criteria Points Summary page -------------*/

.fourth						{}

.fourth						{float:left; background:#ffffff; width:940px; padding:0 0 1% 0; min-height:580px;}

.fourth_top					{ position:relative;}
.fourth_top img				{ width:80%; margin:0 auto 0.5%; display:block;}
.fourth_top p				{font-size:14px; color:#0f0f0f; font-weight:400;  margin:7px 0 0 13px; float:left;}
.fourth_top .average		{ float:right;margin:2% 1% 0 0;  width:200px;}
.fourth_top .average big	{font-size:16px; color:#2d2929; font-weight:400; float:left; margin:4px 13px 0px 0;}
.fourth_top .average input	{font-size:20px; color:#2d2929; font-weight:400; border:2px solid #cccccc; border-radius:3px; padding:3px 10px 2px; float:right; width:34px; text-align:center;}
.fourth_top .average small	{font-size:20px; color:#2d2929; font-weight:400; border:2px solid #cccccc; border-radius:3px; padding:1px 15px 2px; float:right;}

.fourth_top .one_numbering		{ width:121px; margin:1.5% 0 0 44%; float:left;}
.fourth_top .one_numbering a	{font-size:15px; color:#ffffff; font-weight:600; text-align:center; height:36px; width:36px; border:3px solid #ffb6b6; background:#c1272d; text-decoration:none; line-height:35px; border-radius:20px; display:inline-block;}
.fourth_top .one_numbering span{font-size:15px; color:#2d2929; font-weight:400; text-align:center; margin:0 10px;}
.fourth_top .one_numbering b	{font-size:15px; color:#ffffff; font-weight:600; text-align:center; height:36px; width:36px; border:3px solid #ffb6b6; background:#c1272d; text-decoration:none; line-height:35px; border-radius:20px; display:inline-block; float:left;}
.fourth_top .one_numbering span{font-size:15px; color:#2d2929; font-weight:400; text-align:center; margin:0 10px; float:left; margin:10px 10px 0;}


.fourth_matter				{margin:6px 0px 0px 13px;}
.fourth_matter ul			{ display:inline-block; margin:2% 0 0 0;}
.fourth_matter ul li		{ list-style:none; float:left; margin:0px 10px 10px 0px;}
.fourth_matter ul .boxes	{ width:159px; height:33px; background:#e3e3e3; padding:8px} 
.fourth_matter ul .boxes p	{font-size:15px; color:#2d2929; font-weight:400; line-height:18px; width:114px; float:left;}
.fourth_matter ul .boxes input{font-size:14px; color:#2d2929; font-weight:300; width:35px; height:23px; text-align:center; border:1px solid #c3c3c3; float:right; line-height:23px;}
.fourth_matter ul .boxes span{font-size:14px; color:#2d2929; font-weight:300; background:#FFFFFF; width:35px; height:23px; text-align:center; border:1px solid #c3c3c3; float:right; line-height:23px;}

.fourth_matter .buttons					{ float:right; margin:0px 12px 15px 0px;}
.buttons .skip				{font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#000000; /*padding:6px 25px;*/ border-radius:5px; text-decoration:none; display:inline-block; margin:20px 0 0 0; width:90px; height:40px; text-align:center; line-height:38px;}
.fourth_matter .buttons .submit			{font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#c1272d; /*padding:6px 25px;*/ border-radius:5px; text-decoration:none; width:90px; height:40px; line-height:38px; text-align:center;}

/*---------------End -------------*/


/*  Criteria section start */

.CriteriaDiv {
       width: 77%;
    min-height: 500px;
    margin:0 auto;
    font-size: 14px;
color: #0f0f0f;
font-weight: 400;
font-family: 'Open Sans',sans-serif;
}

.Spacer120 {
    height: 120px;
}

.CriteriaSection{
    padding: 1% 3% 1% 1%;
    border:1px solid #ccc;
    border-radius:6px 6px;
    float:left;
    margin-top:10px;
    width: 96%;
    position:relative;
    left: -900px;
    background:#fff;
}

.CriteriaQuestionBox {
    display: inline-block;
    width: 100%;
    min-height: 450px;
    border: 0px solid;
    background-color: #fff;
    padding-top: 10px;
    min-height: 800px;
}

.CriteriaGradientBox {
    height: 150px;
}

.CriteriaPositionBox {
    width: 104px;
    height: 40px;
    border: 0px solid;
}

.CriteriaPositionBoxInner {
    float: left;
    width: 40px;
    height: 40px;
}

.CriteriaPositionBoxCricle {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #C1282D;
    border-radius: 18px 18px;
    border: 3px solid #ffb6b6;
    color: white;
    text-align: center;
}

.CriteriaPositionBoxText {
    padding-top: 4px;
    font-weight: bold;
}

.CriteriaPositionBoxOfText {
    float: left;
    width: 24px;
    height: 40px;
    text-align: center;
    padding-top: 6px;
}

.CriteriaDividerLine {
    height: 2px;
    width: 100%;
    margin-top: 0px;
}

.BackButton {
  
    text-align: center;
    border-radius: 4px 4px;
    margin: 10px;
    cursor: pointer;

}

    .BackButton div {
       float: left;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background: #000000;
  padding: 2px 11px 0px 11px;
  border-radius: 2px;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 27px;
  text-align: center;
  border: 0 none;
  cursor: pointer;
    }

.SubmitButton {
    color: #ffffff;
    text-align: center;
    border-radius: 4px 4px;
    margin-top: 10px;
    cursor: pointer;
}

    .SubmitButton div {
          background: #c1272d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 27px;
  text-align: center;
  display: block;
  float: right;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 11px 0px 11px;
  font-family: 'Open Sans', sans-serif;
    }

.SubmitButtonSmall {
    width: 78px;
    height: 34px;
    background-color: #C1282D;
    color: #ffffff;
    text-align: center;
    border-radius: 4px 4px;
    margin: 10px;
    cursor: pointer;
}

    .SubmitButtonSmall div {
        padding-top: 6px;
        font-size: 18px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.QuestionText {
    padding-left: 4px;
   font-size: 16px;
color: #c1272d;
font-weight: 600;
font-family: 'Open Sans',sans-serif;
margin-left:15px;
    font-size: 17px;
}

.QuestionArea {
    margin: 15px;
    min-height: 210px;
    border: 0px solid;
    width:100%;
}

.SelectionArea {
    float: left;
    width: 50%;  
    display: inline-block;
}

.SelectionQuestion {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 100%;
}

.SelectionQuestionMargins {
    margin-top: 0px;
}

.ButtonsArea {
    margin-top: 0px;
}

.FloatRight {
    float: right;
}

.FloatRightmarginTop {
    float: right;
    margin-top:30px;
}


.paddingleft6px {
    padding-left: 6px;
}

.singleLogOutDiv {
    margin-top: 30px;
    color: white;
    cursor: pointer;
}

.divmessages {
    background: url(../web/images/icon_messages.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 4px;
    margin-top: 8px;
    width: 12px;
}

.lblmesage {
    padding: 2px;
   background:#000;
}


.superDiv {
    width: 20px;
    padding: 0px;
}

.MarginTop20 {
    margin-top: 20px;
}

.CriteriaCombo {
    background-color: #323232;
    color: white;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px 6px;
}

    .CriteriaCombo option {
        padding: 8px;
    }

.Disabled {
  
}

.Disabled div{
     background: #999;
       color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 27px;
  text-align: center;
  display: block;
  float: right;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 11px 0px 11px;
}

#lblCriteriaDobError {
    margin-left: 4px;
    color: red;
    font-size: 14px;
}

.CriteriatextField{
    width: 90px;font-size: 18px; border: 1px solid #7d7d7d; border-radius: 4px 4px; padding: 6px;
}

.pointsNextButton{
  float: right;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background: #c1272d;
  padding: 0px 12px 0 11px;
  border-radius: 2px;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 27px;
  text-align: center;
  border: 0 none;
  cursor: pointer;
  margin-right:10px;
}

.pointercss{
    cursor:pointer;
}
.closecss{
background: #c1272d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  display: block;
  float: right;
  margin: 4px 4px 4px 0;
  border-radius: 3px;
  cursor:pointer;
}


/*Criteria section end */


/*Criteria edit popup section end */

.criteriatemp{
    margin: 0 auto; margin-top: 0px; width: 636px; height: 314px; overflow-y: auto; background-color: #ffffff; border: 1px solid #C3C3C3; border-radius: 4px 4px;font-size: 16px;font-family: 'Open Sans', sans-serif;
}

.editcriterianame{
    margin: 0 auto; color:#c1272d; font-size: 16px; padding-left: 20px; margin-top: 10px; text-align: left; font-weight: 600; font-family: 'Open Sans', sans-serif;
}

.critriaqtnname{
    margin: 0 auto; font-size: 16px; padding-left: 20px; margin-top: 20px; text-align: left; font-weight: 600; font-family: 'Open Sans', sans-serif;
}

.editselectionqtn{
    padding-left: 8px; text-align: left; font-weight: 600; font-family: 'Open Sans', sans-serif; padding-bottom: 2px;
}

.editcriteriafont{
    font-weight: 400;font-size:12px;font-family: 'Open Sans', sans-serif;
}


.paddingfont{
    padding: 4px; font-size: 12px;
}

.editleftfloat{
    float: left;
}

.editselectionarea{
    width: 48%; float: left; margin-top: 10px;
    font-size:12px;font-family: 'Open Sans', sans-serif;
}

.editptwoqtn{
    padding-left: 8px; text-align: left; font-weight: 600; padding-bottom: 2px; font-family: 'Open Sans', sans-serif;
}





.fifth						{float:left; background:#ffffff; width:740px; padding:0 0 1% 0; min-height:90vh; position:relative;}
.fifth img				{ width:80%; margin:0 auto 5px; display:block;}
.fifth .one_top p					{font-size:14px; color:#0f0f0f; font-weight:400; width:81%; margin:0px auto;}
.fifth_matter				{margin:4px 0px 0px 13px;}
.fifth_matter img			{margin:10px auto 14px; display:block; }
.fifth_matter .fifth_buttons		{ /*width:230px; margin:0 auto;*/ width:170px; padding:0% 0 5%; float:right; margin:0 80px 0 0; }
.fifth_matter .fifth_buttons .skip			{ /*height:38px; width:105px;*/ height:30px !important; /*width:90px !important;*/ background:#606060;font-size:14px; color:#ffffff; font-weight:400; text-align:center; line-height:27px; text-decoration:none; display:inline-block; border-radius:2px; margin:0 6px 10px 0%; padding:0 12px 0 12px; cursor:pointer;}
.fifth_matter .fifth_buttons .upload		{/*height:38px; width:105px; width:90px;*/ height:30px; background:#c1272d;font-size:14px; color:#ffffff; font-weight:400; text-align:center; line-height:27px; text-decoration:none; display:inline-block;border-radius:2px; margin:0; cursor:pointer; padding:0 11px 0 11px;}

.fifth .back				{ position:absolute; z-index:10; top:0px; left:10px;}
.fifth .back img				{ width:100%; margin:10px 0 0 0;}


.fifth .one_numbering		{ width:121px; margin:0 auto; padding:10px 0; display:block;}
.fifth .one_numbering b	{font-size:15px; color:#ffffff; font-weight:600; text-align:center; height:36px; width:36px; border:3px solid #ffb6b6; background:#c1272d; text-decoration:none; line-height:35px; border-radius:20px; display:inline-block; float:left;}
.fifth .one_numbering span{font-size:15px; color:#2d2929; font-weight:400; text-align:center; margin:0 10px; float:left; margin:10px 10px 0;}



.fifth_right				{ float:right; background:#0f0f0f; width:200px; min-height:90vh;}
.fifth_right h3				{font-size:25px;  font-size:16px; color:#ffffff; font-weight:400; padding:35px 0 10px 0; letter-spacing:-1.3px; text-align:center;}
.fifth_right p				{font-size:13px; color:#ffffff; font-weight:300; width:88%; margin:0 auto 10%;}

.fifth_right ul				{ display:block; width:90%; margin:0 auto;}
.fifth_right ul li	 		{ list-style:none; position:relative; float:left; display:inline-block; width:50%; height:95px;}
.fifth_right ul li a		{ display:inline-block; margin:20px 0px 0px 10px; width:65px;}
.fifth_right ul li a:hover	{margin:10px 0 0 10px;}
.fifth_right ul li a img	{ width:100%; height:100%;}
.fifth_right ul li a img:hover{ }
.fifth_right ul li span		{ background:url(../images/05_box_shadows.png) no-repeat left top; background-size:100% 100%; display:inline-block; height:50px; width:70%; position:absolute; left:0px; top:40px; min-width:80px;}

.fifth_right .fifth_buttons		{ /*width:230px;*/ width:90px; margin:0 auto; padding:6% 0 20%; }
.fifth_right .fifth_buttons .skip			{ /*height:38px; width:105px;*/ height:40px !important; width:90px !important; background:#606060;font-size:16px; color:#ffffff; font-weight:400; text-align:center; line-height:38px; text-decoration:none; display:inline-block; border-radius:4px; margin:0 15px 10px 0%; padding:0;}
.fifth_right .fifth_buttons .upload		{/*height:38px; width:105px;*/ height:40px; width:90px; background:#c1272d;font-size:16px; color:#ffffff; font-weight:400; text-align:center; line-height:38px; text-decoration:none; display:inline-block;border-radius:4px; margin:0% 0 0% 0;}

.hundred {
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: #C1272D;
    width: 95px;
    text-align: center;
}

    .hundred span {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        text-decoration: underline;
        cursor: pointer;
    }