

body,div,h1,h2,h3,h4,h5,h6,p,ul,li,img		{ margin:0; padding:0;}
body		{font-family: 'Open Sans', sans-serif;}

a			{ text-decoration:none;}
ul, li		{ list-style:none;}
.fl			{ float:left !important;}
.fr			{ float:right !important;}
.clear		{ clear:both; display:block;}
input		{ border:0 none;}



.popup						{ background:#202020; padding:20px 0; min-height:600px;}

.popup .tabs_matter			{ width:561px;  border-radius:5px 5px 5px 5px; border:1px solid #ccc; padding:15px; background:#ffffff; margin:0 0 14px 28px;}
.popup .tabs_matter h2		{font-size:16px; color:#c1272d; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.popup .tabs_matter h3		{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.popup .tabs_left			{ float:left; margin:0 60px 0 0; width:250px !important;}
.popup .tabs_left h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0; /*min-height:40px;*/ line-height:18px;}
.popup .tabs_left ul			{}
.popup .tabs_left ul li		{ list-style:none;font-size:12px; color:#2d2929; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0 0 5px 0; display:inline-block; width:250px;}
.popup .tabs_left ul li label	{ margin:0px; display:inline-flex;}
.popup .tabs_left ul li input{ margin:0 10px 0 0; position:relative; top:2px; float:left; display:block;}
.popup .tabs_left ul li span	{ float:left; width:227px;}
.popup .marg_no	{ margin:0px !important;}


	/*--------------- Popup-Chat with Me page Start  -------------*/

.chatwithme					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px; height:418px;*/ width:635px; margin:0px auto 0px; border-radius:6px; }
.chatwithme .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height: 17px; display:block; float:right; margin:4px 4px 4px 0; cursor:pointer; border-radius:3px;}
.chatwithme .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;  line-height:27px;text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 11px 0px 12px;}
.chatme_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; /*width:400px;*/ padding:15px;  width:547px;}
.chatme_cont h3				{ margin:0 0 10px 0px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8;}
/*.chatme_cont textarea		{ width:92%; border:1px solid #e5e5e5; color:#838383;font-size:13px; font-weight:300; font-family: 'Open Sans', sans-serif; font-style:italic; line-height:17px; padding:10px 15px; border-radius:4px; margin:5px 0 0 0; resize:none;}*/
.chatme_cont .text			{font-size: 13px; color: #6B6969; font-weight: 400; line-height: 14px; margin: 0px; word-break: break-all; margin:-8px 0px 10px 0px; width:510px;} 
.chatme_cont textarea 		{border:1px solid #b7b7b7; position:relative; width:525px; height:60px; border-radius:2px; padding:10px 10px 10px 10px; font-family: 'Open Sans', sans-serif; font-size:13px; color:#000000; font-weight:400; opacity:0.8; resize:none;line-height:15px;  /*letter-spacing:-1px;*/ word-break:break-all; overflow-y:scroll; }
.chatme_cont .chatme_chat	{ margin:0 0 7px 0;}
.chatme_cont .chatme_chat img{ float:left; margin:0 18px 0 0;}
.chatme_cont .chatme_chat .chatme_type	{ float:left; width:310px;}
.chatme_cont .chatme_chat .chatme_type h4{color:#303030;font-size:14px; font-weight:400;}
.chatme_cont .chatme_chat .chatme_type h5{color:#303030;font-size:14px; font-weight:400; line-height:15px; margin:0 0 5px 0;}
.chatme_cont .chatme_chat .chatme_type p{color:#303030;font-size:13px; font-weight:400; /*font-style:italic;*/ line-height:14px;}

.pop_descript				{ min-height:0px !important; height:auto;}
.pop_descript_hy				{ min-height:0px !important; }


	/*--------------- Popup-Chat with Me page end  -------------*/

	/*--------------- Popup-Compose page Start 19-2,3 -------------*/

.compose					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px;height:418px;*/ width:603px ;  margin:0px auto 0px; border-radius:6px; }
.compose .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px;line-height:17px; text-align:center;  display:block; float:right; margin:4px 4px 4px 0; border-radius:3px;}
.compose .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px;  padding:0px 11px 0px 12px; cursor:pointer;}
.compose_cont				{ /*background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:1px 0 10px 28px; width:400px; padding:15px 20px 18px; min-height:275px;*/}
/*.compose_cont textarea				{color:#303030;font-size:13px; font-weight:400; font-family: 'Open Sans', sans-serif; font-style:italic; line-height:20px; margin:0 0 18px 0; background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:1px 0 10px 28px; width:400px; padding:15px 20px 18px; min-height:275px; resize:none;}*/



.compose_cont textarea			{ border:1px solid #b7b7b7; position:relative; width:525px; height:120px; border-radius:2px; padding:10px 10px 10px 10px; font-family: 'Open Sans', sans-serif; font-size:13px; color:#000000; font-weight:400; opacity:0.8; resize:none; margin:0px 0 14px 28px;line-height:15px;  /*letter-spacing:-1px;*/ word-break:break-all; overflow-y:scroll;}


.compose_cont_msg				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; width:548px; /*width:400px;*/ padding:15px; min-height:275px; position:relative;}
.compose_cont_msg h3			{color:#2d2929;font-size:18px; font-weight:600; opacity:0.7;}
.compose_cont_msg p				{color:#2d2929;font-size:13px; font-weight:400; opacity:0.7; text-align:justify;}
.compose_cont_msg textarea		{/*color:#303030;font-size:13px; font-weight:400; opacity:0.6; font-family: 'Open Sans', sans-serif; font-style:italic; line-height:20px;  background:#ffffff; border:1px solid #e5e5e5; border-radius:5px; margin:1px 0 10px 0px;width:510px; /*width:380px;* padding:10px;  resize:none;  position:absolute; bottom:10px;*/ border: 1px solid #B7B7B7; width: 525px; height: 60px; border-radius:2px; padding: 10px; font-family: "Open Sans",sans-serif; font-size: 13px; color: #000; font-weight: 400; opacity: 0.8; resize: none; margin:10px 0 0px 0px; line-height: 15px; word-break: break-all; overflow-y:scroll;}

.compose_hy					{ width:636px; height:auto; background:#f5f5f5 !important; }
.compose_cont_msg .imag			{ }
.compose_cont_msg .imag img		{ display:block; margin:0px; width:400px; height:400px;}
.compose_cont_msg h4			{ margin:10px 0px 2px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8; }
.compose_cont_msg span			{color:#303030;font-size:13px; font-weight:400; opacity:0.9; /*font-style:italic;*/ display:block; line-height:16px;}





	/*--------------- Popup-Compose page end  -------------*/

	/*--------------- Popup-Upload (06) Image page Start  -------------*/

.upload_image					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; width:701px; /*height:418px; */margin:0px auto 20px; border-radius:6px; }
.upload_image .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height:17px; display:block; float:right; margin:4px 4px 4px 0; border-radius:3px;}
.upload_image .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;line-height:27px; text-align:center;  display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; padding:0px 11px 0px 11px; cursor:pointer;}
.upload_image_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; width:613px; padding:15px; min-height:275px;}
.upload_image_cont img				{ margin:0 10px 0 0 !important; display:block; float:left;}

	/*--------------- Popup-Upload Image (06) page end  -------------*/

	/*--------------- Popup-Criteria page Start  CriteriaQuestionEditPopup-------------*/

.criteria					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; width:608px; /*width:649px; height:450px;*/ margin:0px auto 20px; border-radius:6px; background-size:cover; }
.criteria_1					{ }
.criteria .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height:17px; display:block; float:right; margin:4px 4px 4px 0; border-radius:3px;}
.criteria .clear_answer	{ float:left;color:#0f0f0f;font-size:13px; font-weight:400; text-decoration:underline; margin:14px 0 0 28px;}
.criteria .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 11px 0px 11px;}
.criteria_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:1px 0 10px 28px; width:610px; padding:10px 10px 18px; min-height:275px;}
.upload_image_cont img				{ margin:0 5px 0 0;}
.upload_image_cont .browse	{ background:url(../images/uploadImages_pic-c.jpg) no-repeat left top; background-color:inherit; width:99px; height:116px;}

.criteria .tabs_matter			{ /*width:561px;*/width:520px;  border-radius:5px 5px 5px 5px; border:1px solid #ccc; padding:15px; background:#ffffff; margin:0 0 14px 28px; min-height:233px;}
.criteria .hundred				{float:right; font-size:16px; font-weight:600; color:#C1272D; width:95px; text-align:center;}
.criteria .hundred span			{display:block;font-size:12px; font-weight:400; color:#000; text-decoration:underline; cursor:pointer;}
.criteria .tabs_matter h2		{font-size:16px; color:#c1272d; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.criteria .tabs_matter h3		{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.criteria .tabs_left			{ float:left; margin:0 60px 0 0; width:230px !important;}
.criteria .tabs_left h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0; /*min-height:40px;*/ line-height:18px;}
.criteria .tabs_left ul			{}
.criteria .tabs_left ul li		{ list-style:none;font-size:12px; color:#2d2929; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0 0 5px 0; display:inline-block; width:250px;}
.criteria .tabs_left ul li label	{ margin:0px; /*display:inline-flex;*/}
.criteria .tabs_left ul li input{ margin:0 10px 0 0; position:relative; top:2px; float:left; display:block;}
.criteria .tabs_left ul li span	{ float:left; width:227px;}
.criteria .marg_no	{ margin:0px !important;}



	/*--------------- Popup-Criteria page end  -------------*/

	/*--------------- Popup-Questions page Start  -------------*/

.questions					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; width:671px; /*height:475px;*/ margin:0px auto 20px; border-radius:6px; background-size:cover;}
.questions .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height:17px; display:block; float:right; margin:4px 4px 4px 0; border:0 none; cursor:pointer; border-radius:3px;}
.questions .clear_answer	{ float:left;color:#0f0f0f;font-size:13px; font-weight:400; text-decoration:underline; margin:16px 0 0 28px;}
.questions .send			{background:#C1272D; color: #FFF; font-size: 14px; font-weight: 400; padding: 0px 12px 0px 11px; line-height: 27px; text-align: center; display: block; float: right; margin: 0px 28px 28px 0px; border-radius: 2px; border: 0px none; cursor: pointer; height: 30px;}
.questions_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:1px 0 10px 28px; width:610px; padding:10px 10px 18px; min-height:275px;}

.questions .tabs_matter			{ width:583px;  border-radius:5px 5px 5px 5px; border:1px solid #ccc; padding:15px; background:#ffffff; margin:0 0 14px 28px;}
.questions .tabs_matter h2		{font-size:16px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.questions .tabs_matter h3		{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.questions .tabs_left			{ float:left; margin:0 60px 0 0; width:250px !important;}
.questions .tabs_left h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0; /*min-height:40px;*/ line-height:18px;}
.questions .tabs_left ul			{}
.questions .tabs_left ul li		{ list-style:none;font-size:12px; color:#2d2929; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0 0 5px 0; display:inline-block; width:250px;}
.questions .tabs_left ul li label	{ margin:0px; display:inline-flex;}
.questions .tabs_left ul li input{ margin:0 10px 0 0; position:relative; top:2px; float:left; display:block;}
.questions .tabs_left ul li span	{ float:left; width:227px;}
.questions .marg_no	{ margin:0px !important;}

.questions .rating-c		{ margin:10px 0 0 0;}

.popup .numbers				{ margin:0;}
.popup .numbers ul			{}
.popup .numbers ul li		{ float:left; display:inline;}
.popup .numbers ul li a		{ display:inline-block;font-size:12px; color:#0f0f0f; font-weight:400; font-family: 'Open Sans', sans-serif; background:#e5e5e5; width:52px; height:40px; margin:1px 1px 0 0; line-height:40px; text-align:center; text-decoration:none;}
.popup .numbers ul li a:hover	{background:#c1272d; color:#ffffff;}

.popup .comment					{ float:left; width:335px;}
.popup .comment textarea			{border-radius:2px; border:1px solid #8f8f8f; padding:10px; margin:0; font-size:13px; color:#0F0F0F; font-weight:400; font-family: 'Open Sans', sans-serif; line-height:14px; width:327px; resize:none; resize:none; word-break:break-all; overflow-y:scroll; }

.popup .two_dates				{ float:left; margin:0 10% 0% 0; width:268px; /*width:280px;*/}
.popup .two_dates h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.popup .two_dates ul			{ /*display:inline-block;*/}
.popup .two_dates ul li		{ float:left; list-style:none;}
.popup .two_dates ul li select{ background:#cfcfcf; border:0px none; padding:4px 10px; margin:0px 4px 4px 0px; width:80px; border-radius:3px}
.popup .two_dates input		{ color:#c8c7c7;font-size:18px;font-weight:400; border:1px solid #7d7d7d; width:90px; padding:1px 0 1px 5px; border-radius:2px;}

.popup .two_days				{ float:left; margin:0 0% 20px 0; width:200px;/*width:220px;*/}
.popup .two_days h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.popup .two_days ul			{ /*display:inline-block;*/}
.popup .two_days ul li		{ float:left; list-style:none;}
.popup .two_days ul li select{ background:#cfcfcf; border:0px none; padding:4px 8px; margin:0px 4px 4px 0px; width:80px; border-radius:3px;}
.popup .two_days .two_field	{ width:240px;}
.popup .two_days input		{ color:#A1A1A1;font-size:18px;font-weight:400; border:1px solid #7d7d7d; width:68px; padding:1px 0 1px 5px; border-radius:2px; margin-bottom:5px;}
.popup .two_days .to		{ color:#6b6969;font-size:16px;font-weight:400;  padding:1px 12px;}

.popup .two_dates .dd .ddChild li{ float:none;}
.popup .two_dates .dd .ddTitle	{ background:#DADADA; color:#000000;}
.popup .two_dates .dd .ddArrow{width:8px;height:6px; margin-top:-2px; background:url(../images/16_dd_gray_arrow.png) no-repeat;}

.popup .two_days .dd .ddChild li{ float:none;}
.popup .two_days .dd .ddTitle	{ background:#DADADA; color:#000000; font-size:14px; padding:0px;}
.popup .two_days .dd .ddArrow{width:8px;height:6px; margin-top:-2px; background:url(../images/16_dd_gray_arrow.png) no-repeat}


.check						{ float:right;font-size:14px; color:#8f8f8f; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0px; }
.check label				{ margin:0px;}
.check input				{}
.check span					{font-size:14px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#000000; padding:0 7px; border-radius:11px;}
.buttons					{ float:right; }
.buttons .skip				{font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#000000; padding:6px 20px; border-radius:5px; text-decoration:none; display:inline-block; margin:20px 0 0 0;}
.buttons .submit			{font-size:16px; color:#ffffff; font-weight:400; font-family: 'Open Sans', sans-serif; background:#c1272d; padding:6px 20px; border-radius:5px; text-decoration:none;}

	/*--------------- Popup-Questions page end  -------------*/

	/*--------------- Popup-Passport page Start  -------------*/

.passport					{  margin:0px auto 20px; border-radius:6px; }

.passport .student	{width:268px; border:1px solid #bfbfbf; padding:5px; margin:11px 0px 5px 0px;}
.passport .student .photo	{ float:left; width:70px; margin:0 5px 0 0;}
.passport .student .photo img{ box-shadow:3px 3px 2px #DBDBDB;}
.passport .student .photo p{font-size:14px; color:#1c1c1e; font-weight:600;}
.passport .student .text	{ float:right; width:190px;}
.passport .student .text ul{ margin:9px 0 28px 0;}
.passport .student .text ul li{ float:left; line-height:10px; list-style:none;}
.passport .student .text ul .point{ width:60px;font-size:12px; color:#1c1c1e; font-weight:400;}
.passport .student .text ul .line_bar{ width:82px; background:#d6d6d6; height:10px; display:inline-block; margin:0px 6px 0px 0px;}
.passport .student .text ul .line_bar .over{ width:60px; background:#333333; display:inline-block; height:10px; margin:0px; padding:0px;}
.passport .student .text ul .line_bar .home{ width:30px; background:#333333; display:inline-block; height:10px; margin:0px; padding:0px;}
.passport .student .text ul .line_bar .exam{ width:50px; background:#333333; display:inline-block; height:10px; margin:0px; padding:0px;}
.passport .student .text ul .percent{ width:40px;font-size:12px; color:#1c1c1e; font-weight:600;}
.passport .student  p{font-size:14px; color:#1c1c1e; font-weight:600; line-height:17px;}


	/*--------------- Popup-Passport page end  -------------*/

	/*--------------- (Popup Photo shows) PhotoPopup page Start  -------------*/

.photo_showup			{ width:950px; background:#0f0f0f; padding:28px; border:1px solid #000000; box-shadow:0 0 3px #0F0F0F; margin:0 auto; position:relative;}
.photo_showup .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height:17px; display:block; float:right; margin:4px 4px 4px 0; border:0 none; cursor:pointer; border-radius:3px; position:absolute; right:0px; top:0px;}
.photoup_left			{ /*width:616px;*/ float:left;}
.photous_arrows			{ width:34%; margin:5px auto 0px;}
.photous_arrows p		{font-size:16px; color:#ffffff; font-weight:600; float:left; margin:5px 15px 0px;}
.photous_arrows p span	{font-size:16px; color:#858585; font-weight:400; margin:0 5px;}
.photoup_left .photos_left_arrow	{ /*margin:1% 15% 0 35%;*/ display:inline-block; float:left; cursor:pointer;}
.photoup_left .photos_right_arrow	{ float:left;}
.photoup_left .photos_left_arrow:hover{ opacity:0.5;}


.photoup_right			{ float:right; width:300px;}
.photoup_right p		{font-size:13px; color:#858585; font-weight:400; text-align:justify; line-height:15px; margin:0 0 14px 0;}
.photoup_right textarea	{font-size:13px; color:#717171; font-weight:400; border:1px solid #272727; background:#1a1a1a; font-family: 'Open Sans', sans-serif; padding:10px 10px; border-radius:2px; resize:none; width:278px; margin:0 0 0px 0; min-height:54px; /*overflow-y:scroll;*/}
.photoup_right .discuss	{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:0px 0px 28px 10px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 11px;}
.photoup_right .send	{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:14px 0px 0px 10px; border-radius:2px; cursor:pointer; padding:0px 11px 0px 12px;}
.photoup_right .submit	{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:14px 0px 0px 10px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 12px;}
.photoup_right .cancel	{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; line-height:27px; text-align:center; display:block; float:right; margin:14px 0px 0px 10px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 12px;}


			/*--------------- (Popup Photo shows) MyProfilePhotoPopup page Start  -------------*/

.photoup_right .caption	{font-size:14px; color:#858585; font-weight:400; text-align:justify; line-height:15px; margin:0 0 14px 0;cursor:pointer; width:110px;}
.photoup_right .caption img{ cursor:pointer;}

			/*--------------- (Popup Photo shows) MyProfilePhotoPopup page end  -------------*/
			
	/*--------------- Popup Photo shows page end  -------------*/

	/*		Popup 30 checks start		*/


.checks					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; width:699px; /*height:475px;*/ margin:0px auto 20px;   border-radius:6px; background-size:cover;}
.checks .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height:17px; display:block; float:right; margin:4px 4px 4px 0; border-radius:3px;}
.checks .clear_answer	{ float:left;color:#0f0f0f;font-size:13px; font-weight:400; text-decoration:underline; margin:22px 0 0 29px;}
.checks .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px; text-align:center; line-height:27px; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; border:0 none; cursor:pointer; padding:0 11px 0 11px;}
.checks_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:1px 0 10px 28px; width:610px; padding:10px 10px 18px; min-height:275px;}

.checks .tabs_matter			{ /*width:642px !important;*/ width:611px; border-radius:5px 5px 5px 5px; border:1px solid #ccc; padding:15px; background:#ffffff; margin:0 0 14px 28px;}
.checks .tabs_matter h2		{font-size:16px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.checks .tabs_matter h3		{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 15px 0;}
.checks .tabs_left_3			{ float:left; margin:0 10px 0 0; width:195px;}
.checks .tabs_left_3 h5			{font-size:14px; color:#2d2929; font-weight:600; font-family: 'Open Sans', sans-serif; margin:0 0 20px 0;}
.checks .tabs_left_3 ul			{}
.checks .tabs_left_3 ul li		{ list-style:none;font-size:12px; color:#2d2929; font-weight:400; font-family: 'Open Sans', sans-serif; margin:0 0 10px 0; display:block;}
.checks .tabs_left_3 ul li label	{ margin:0px; display:block;}
.checks .tabs_left_3 ul li input{ margin:0 10px 0 0; position:relative; top:1px; float:left; display:block;}
.checks .tabs_left_3 ul li span	{ display:inline-block; width:170px;}
.checks .marg_no	{ margin:0px !important;}


	/*		Popup 30 checks end		*/


	/*--------------- Popup-Buy Rematch page Start  -------------*/

.buyrematch					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px; height:418px;*/ width:635px; margin:0px auto 0px; border-radius:6px; }
.buyrematch .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height: 17px; display:block; float:right; margin:4px 4px 4px 0; cursor:pointer; border-radius:3px;}
.buyrematch .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;  line-height:27px;text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 12px;}
.buyrematch_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; /*width:400px;*/ padding:15px;  width:547px;}
.buyrematch_cont h3				{ margin:0 0 10px 0px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8;}
.buyrematch_cont .text			{font-size: 13px; color: #6B6969; font-weight: 400; line-height: 14px; margin: 0px; word-break: break-all; margin:-8px 0px 10px 0px; width:510px;} 
.buyrematch textarea 		{border:1px solid #b7b7b7; position:relative; width:525px; height:60px; border-radius:2px; padding:10px 10px 10px 10px; font-family: 'Open Sans', sans-serif; font-size:13px; color:#000000; font-weight:400; opacity:0.8; resize:none;line-height:15px;  /*letter-spacing:-1px;*/ word-break:break-all; overflow-y:scroll; }
.buyrematch_cont .match_detail	{ margin:0;}
.buyrematch_cont .match_detail p{color:#303030;font-size:15px; font-weight:400; margin:10px 0 0px 0;}
.buyrematch_cont .match_detail img{ float:left; margin:0 10px 0 0;}
.buyrematch_cont .match_detail .match_detail_type	{ float:left; width:330px;}
.buyrematch_cont .match_detail .match_detail_type h5{color:#303030;font-size:14px; font-weight:600; margin:0 0 10px 0;}
.buyrematch_cont .match_detail .match_detail_type ul{}
.buyrematch_cont .match_detail .match_detail_type ul li{ color:#303030;font-size:14px; font-weight:400; /*list-style-type:numeric; margin:0px 0px 0px 15px;*/ line-height:17px;}

	/*--------------- Popup-Buy Rematch page end  -------------*/

	/*--------------- Popup-Report User page Start  -------------*/

.reportuser					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px; height:418px;*/ width:635px; margin:0px auto 0px; border-radius:6px; }
.reportuser .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height: 17px; display:block; float:right; margin:4px 4px 4px 0; cursor:pointer; border-radius:3px;}
.reportuser .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;  line-height:27px;text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 12px;}
.reportuser_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; /*width:400px;*/ padding:15px;  width:547px;}
.reportuser_cont h3				{ margin:0 0 10px 0px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8;}
/*.chatme_cont textarea		{ width:92%; border:1px solid #e5e5e5; color:#838383;font-size:13px; font-weight:300; font-family: 'Open Sans', sans-serif; font-style:italic; line-height:17px; padding:10px 15px; border-radius:4px; margin:5px 0 0 0; resize:none;}*/
.reportuser_cont .text			{font-size: 13px; color: #6B6969; font-weight: 400; line-height: 14px; margin: 0px; word-break: break-all; margin:-8px 0px 10px 0px; width:510px;} 
.reportuser textarea 		{border:1px solid #b7b7b7; position:relative; width:310px; height:60px; border-radius:2px; padding:10px 10px 10px 10px; font-family: 'Open Sans', sans-serif; font-size:13px; color:#000000; font-weight:400; opacity:0.8; resize:none;line-height:15px;  /*letter-spacing:-1px;*/ word-break:break-all; overflow-y:scroll; margin:10px 0 0 0;}
.reportuser_cont .match_detail	{ margin:0 0 0px 0;}
.reportuser_cont .match_detail img{ float:left; margin:0 10px 0 0;}
.reportuser_cont .match_detail .match_detail_type	{ float:left; width:330px;}
.reportuser_cont .match_detail .match_detail_type h5{color:#303030;font-size:14px; font-weight:600; margin:0 0 10px 0;}
.reportuser_cont .match_detail .match_detail_type ul{}
.reportuser_cont .match_detail .match_detail_type ul li{ color:#303030;font-size:14px; font-weight:400;}
.reportuser_cont .match_detail .match_detail_type ul li input{ margin:0px;}

	/*--------------- Popup-Report User page end  -------------*/




	/*--------------- Popup-Profile Pic Upload page Start  -------------*/

.profilepic					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px; height:418px;*/ width:418px; margin:0px auto 0px; border-radius:6px; background-size:100% 100%;padding: 0 0 14px 0;}
.profilepic .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height: 17px; display:block; float:right; margin:4px 4px 4px 0; cursor:pointer; border-radius:3px;}
.profilepic .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;  line-height:27px;text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 11px 0px 12px;}
.profilepic_cont			{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; /*width:400px;*/ padding:15px;  width:330px;}
.profilepic_cont h3			{ margin:0 0 10px 0px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8;}
.profilepic_cont p			{font-size: 14px; color: #0F0F0F; font-weight: 400; text-align:center;}
.profilepic_cont ul			{ display:inline-block; margin:0 0 10px 0;}
.profilepic_cont ul li		{ float:left; display:inline-block;font-size:14px; font-weight:400; color:#000; text-align:center;margin:0 30px 10px 0;}
.profilepic_cont ul li:nth-child(3n+3){ margin:0px;}
.profilepic_dropbox			{ background:url(../images/pic_dropbox.png) no-repeat top left; height:90px; width:90px;  background-size:cover;margin: 0 0 10px 0; cursor:pointer; }
.profilepic_dropbox:hover	{ background:url(../images/pic_dropbox_hover.png) no-repeat top left; height:90px; width:90px; background-size:cover;}
.profilepic_harddisk		{ background:url(../images/computer.png) no-repeat top left; height:90px; width:90px; background-size: cover;margin: 0 0 10px 0; cursor:pointer;}
.profilepic_harddisk:hover	{ background:url(../images/computer_hover.png) no-repeat top left; height:90px; width:90px; background-size:cover;}
.profilepic_instagram		{ background:url(../images/pic_instagram.png) no-repeat top left; height:90px; width:90px; background-size:cover;margin: 0 0 10px 0; cursor:pointer;}
.profilepic_instagram:hover{ background:url(../images/pic_instagram_hover.png) no-repeat top left; height:90px; width:90px; background-size:cover;}

	/*--------------- Popup-Profile Pic Upload page end  -------------*/

	/*--------------- Popup-Compatibility Popup page Start  -------------*/

.compatible					{ background:url(../images/ChatWithMe_bg_bar.jpg) repeat-x left top; /*width:498px; height:418px;*/ width:635px; margin:0px auto 0px; border-radius:6px; }
.compatible .close			{ background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; width:20px; height:20px; text-align:center; line-height: 17px; display:block; float:right; margin:4px 4px 4px 0; cursor:pointer; border-radius:3px;}
.compatible .send			{background:#c1272d; color:#ffffff;font-size:14px; font-weight:400; /*width:90px;*/ height:30px;  line-height:27px;text-align:center; display:block; float:right; margin:0px 28px 28px 0px; border-radius:2px; cursor:pointer; padding:0px 12px 0px 12px;}
.compatible_cont				{ background:#ffffff; border:1px solid #c5c5c5; border-radius:5px; margin:0px 0 14px 28px; /*width:400px;*/ padding:15px;  width:547px;}
.compatible_cont h3				{ margin:0 0 10px 0px; font-size: 16px; color: #0F0F0F; font-weight: 600; opacity: 0.8;}
.compatible_cont .text			{font-size: 13px; color: #6B6969; font-weight: 400; line-height: 14px; margin: 0px; word-break: break-all; margin:-8px 0px 10px 0px; width:510px;} 
.compatible_cont .match_detail	{ margin:0;}
.compatible_cont .match_detail p{color:#303030;font-size:15px; font-weight:400; margin:10px 0 0px 0;}
.compatible_cont .match_detail img{ float:left; margin:0 10px 0 0;}
.compatible_cont .match_detail .match_detail_type	{ float:left; width:330px;}
.compatible_cont .match_detail .match_detail_type h5{color:#303030;font-size:14px; font-weight:600; margin:0 0 10px 0;}
.compatible_cont .match_detail .match_detail_type ul{}
.compatible_cont .match_detail .match_detail_type ul li{ color:#303030;font-size:14px; font-weight:400; /*list-style-type:numeric; margin:0px 0px -3px 15px;*/ line-height:17px;}
.compatible_cont .match_detail .match_detail_type ul li span{ margin:0 5px 0 0;}


	/*--------------- Popup-Compatibility Popup page end  -------------*/




